

.box {
    width: 100%;
    height: 900px;
    margin: 0;
    background-image: url("josue-isai-ramos-figueroa-n2NBgIx3A28-unsplash.webp");
    background-size: cover;
    background-position: center;
}

.box>h1 {
    color: white;
    

}

@font-face {
    font-family: "MyFont";
    src: url("ArchivoBlack-Regular.ttf");
}
h1 {
    font-family: "MyFont";
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white !important;
}

.navbar {
    background: linear-gradient(90deg, #000000, #000000) !important;
}

.container {
    margin: 0 !important;
    
}
.ilia {
    width: 100%;
    height: 600px;
}
.teqst>h1 {
    color: #000000;
   
}
.about{
    width: 100%;
    padding: 80px 20px;
    text-align: center;
    color: #ffffff;
    
}
.about h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

 .about-text {
    width: 60%;
    margin: 0 auto 40px auto;
    line-height: 1.6;
    font-size: 16px;
    color: #ffffff;
}
.betterfly>p {
    color: white;
    font-size: 200px;
    display: flex;
    justify-content: center;
}
.betterfly>h5 {
    color: white;
    font-size: 15px;
    margin-left: 35%;

}
.divider-horizontal {
  width: 95%; 
  height: 2px; 
  background-color: #ffffff; 
  margin: 20px auto; 
}
.img {
    display: flex;
    justify-content: center;
}
.ppl>h1 {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: start;
    margin-left: 50px;
}
.ppl>h5 {
    color: white;
    font-size: 15px;
    margin-left: 50px;
}
.ppl>p {
    color: white;
    margin-left: 50px;
}
.divider-horizontal2 {
  width: 95%; 
  height: 2px; 
  background-color: #ffffff; 
  margin: 20px auto;
}
.Glr>h1 {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: start;
    margin-left: 50px;
}

.grid {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;

}
.grid>div {
    width: 600px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    
}
.grid>div>img {
    width: 95%;
    height: 95%;
}
.contac>p {
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: start;
    margin-left: 50px;
    
}
.contac>h5 {
    color: white;
    margin-left: 50px;
}



.form-container {
    background: #ffffff;
    width: 40%;
    max-width: 600px;
    padding: 40px;
    display: flex;
    justify-content: center;
}

form .row {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}

.input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

input, textarea {
    border: none;
    background: none;
    border-bottom: 1px solid #000;
    padding: 8px 0;
    font-size: 16px;
    outline: none;
}


.full {
    margin-bottom: 30px;
}

.btn {
    width: 200px;
    padding: 15px 0;
    background: #ececec;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover {
    background-color: #000;
    transform: scale(2);
}

.divider-horizontal3 {
  width: 95%; 
  height: 2px; 
  background-color: #ffffff; 
  margin: 20px auto;
  }
div>h1 {
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: start;
    margin-left: 50px;
}

.icon {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: start;
    margin-left: 50px;
}
div>p {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: start;
    margin-left: 50px;
}
div>h5 {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: start;
    margin-left: 50px;
}
div>h6 {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: start;
    margin-left: 50px;
}
.bolo {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: end;
    margin-right: 50px;

}
.divider-horizontal4 {
  width: 95%; 
  height: 2px; 
  background-color: #ffffff; 
  margin: 20px auto;
  }

  .about1>h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    display: flex;
    justify-content: end;
    margin-right: 200px;
  }
 .abt2>p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    justify-content: end;
    margin-right: 200px;
  }

 .abtimg>img {
    width: 700px;
    display: flex;
    justify-content: start;
    margin-left: 50px;
  }

  .abtt>h6 {
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: end;
    margin-right: 100px;
    margin-top: -150px;
}

.btn {
    display: flex;
    margin-left: 80%;
    margin-top: 150px;
}






















@media (max-width: 1200px) {
    .betterfly > p {
        font-size: 150px;
    }
    .grid > div {
        width: 400px;
        height: 350px;
    }
}


@media (max-width: 992px) {
    .betterfly > p {
        font-size: 100px;
    }
    .about-text {
        width: 80%;
    }
    .grid {
        grid-template-columns: auto auto;
        height: auto;
    }
    .grid > div {
        width: 100%;
        height: 300px;
    }
}


@media (max-width: 768px) {
    .betterfly > p {
        font-size: 70px;
    }
    .betterfly > h5 {
        margin-left: 5%;
        font-size: 14px;
    }
    .grid {
        grid-template-columns: auto;
    }
    .grid > div {
        height: 280px;
        width: 100%;
    }
    .contac > p {
        font-size: 45px;
    }
}


@media (max-width: 576px) {
    .betterfly > p {
        font-size: 45px;
        text-align: center;
    }
    .betterfly > h5 {
        font-size: 12px;
        margin-left: 0;
        text-align: center;
    }
    .about-text {
        width: 90%;
        font-size: 14px;
    }
    .img img {
        width: 90%;
        height: auto;
    }
    .grid > div {
        height: 220px;
    }
    .contac > p {
        font-size: 35px;
        margin-left: 20px;
    }
    .contac > h5 {
        margin-left: 20px;
        font-size: 13px;
    }
    .ppl > h1,
    .ppl > h5,
    .ppl > p,
    .Glr > h1 {
        margin-left: 20px;
    }
}


@media (max-width: 400px) {
    .betterfly > p {
        font-size: 35px;
    }
    .grid > div {
        height: 180px;
    }
}








@media (max-width: 1200px) {
    /* Example */
    .grid > div {
        height: 350px;
    }

    .betterfly > p { font-size: 150px; }
}


@media (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid > div {
        height: 300px;
        width: 100%;
    }

    .betterfly > p { font-size: 100px; }
    .about-text { width: 80%; }
}



@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .grid > div {
        height: 260px;
    }

    .betterfly > p {
        font-size: 70px;
        text-align: center;
    }
}


@media (max-width: 576px) {
    .betterfly > p {
        font-size: 45px;
        text-align: center;
    }

    .about-text {
        width: 90%;
        font-size: 14px;
    }

    .grid > div {
        height: 200px;
    }

    .contac > p {
        font-size: 32px;
        margin-left: 15px;
    }
}
     













.navbar-brand {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-link {
    font-size: 18px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.navbar {
    background-color: #000 !important; /* black navbar */
}
